<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin_index1.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="/post_reply">
  {% csrf_token %}
  <table class="table table-dark table-hover">
    <tr>
      <th scope="row">Reply</th>
      <td><textarea name="reply_f" required></textarea></td>
    </tr>
    <tr>
      <th colspan="2" scope="row"><input type="submit" name="Submit" value="Send" /></th>
    </tr>
  </table>
</form>
<!--</body>-->
<!--</html>-->
{% endblock %}