<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->

<!--<body>-->
{% extends 'admin_index1.html' %}
{% block body %}
<form id="form1" name="form1" method="post" action="">
  <table class="table table-dark table-hover">
    <tr>
      <th scope="row"><h3>Username</h3></th>
      <td><h3>Complaint</h3></td>
      <td><h3>Date</h3></td>
      <td>&nbsp;</td>
    </tr>
    {% for i in obj %}
    <tr>
      <th scope="row">&nbsp;{{i.UID.Firstname}}{{i.UID.Lastname}}</th>
      <td>&nbsp;{{i.Complaint}}</td>
      <td>&nbsp;{{i.Date}}</td>
      <td>
        {% if i.Reply == 'waiting' %}
        <a href="{% url 'reply' r_id=i.id %}#about">Reply</a>
        {% else %}
        {{i.Reply}}
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </table>
</form>
<!--</body>-->
<!--</html>-->
{% endblock %}